@using ForouzanTask.Application.DTOs.Project.Inner;
@model List<ProjectListDto>
@{
    ViewData["Title"] = "لیست پروژه های در دست اقدام";
}
@section CssForThis{
    <link href="/assets/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
}
@section PluginForThis {
    <script src="/assets/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/pages/datatable.js"></script>

}
@section ToperLink{
    <a href="#">پروژه ها</a>
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="col-4 offset-4 d-grid gap-2 mb-2">
            <a class="btn btn-warning" asp-area="Admin" asp-controller="Project"
            asp-action="CreateInner">ایجاد پروژه</a>
        </div>
        <div class="card">

            <div class="card-body">
                <h6 class="card-title">جدول پروژه ها</h6>
                <p class="text-muted mb-3">
                    لیست پروژه های درخواستی ثبت شده در سیستم از طریق سایت به شرح ذیل است
                </p>

                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>عنوان پروژه</th>
                                <th>نوع درخواست</th>
                                <th>نام درخواست دهنده</th>
                                <th>شماره درخواست دهنده</th>
                                <th>دستورات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.ProjectTypeName</td>
                                    <td>@item.RequesterName</td>
                                    <td>@item.RequesterMobile</td>
                                    <td>
                                        <a class="btn btn-info" asp-area="Admin" asp-controller="Project"
                                           asp-action="ShowDetails" asp-route-id="@item.Id">مشاهده و تعریف Task</a>
                                   <a class="btn btn-primary " href="#" onclick="Change('@item.Id')">ویرایش کلیات</a>
                                       </td>

                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bodyModal">
                ...
            </div>

        </div>
    </div>
</div>
@section Script{
    <script>
        function Change(id) {
            $.ajax({
                url: "/Admin/Project/Change",
                type: "Get",
                data: { id: id }
            }).done(function (result) {
                $('#roleModal').modal('show');
                $('#roleModalLabel').html(' اضافه کردن فایل ...');
                $('#bodyModal').html(result);
            });
        }
 
    </script>
}
